.chatMain
  .chatHeader
    .chatHeader__group
      .chatHeader__group__name
        = @group.name
      %ul.chatHeader__group__members
        Member：
        %li.chatHeader__group__members__list
          - @group.group_users.each do |group_user|
            = group_user.user.name
    .chatHeader__editBtn
      = link_to edit_group_path(@group.id) do
        Edit
  .chatMessage
    = render @messages
  .chatForm
    = form_for [@group, @message] do |f|
      .chatForm__inputBox
        = f.text_field :content, class: 'chatForm__inputBox__text', placeholder: 'type a message'
        .chatForm__mask
          = f.label :image, class: 'chatForm__mask__image' do
            = icon('fas', 'image')
            = f.file_field :image, class: "chatForm__mask__image__file"
        = f.submit 'Send', class: "btn"